<!DOCTYPE html>
<html>
<head>
  <title>PicPool</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if false %>
<%= render :partial => "menu" %>
<% end %>
<div class="menu">
    <ol>
        <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
    </ol>
</div>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
