<p id="notice">
    <%= notice %>
</p>

<p>
    <b>Name:</b>
    <%= @pool.name %>
</p>

<p>
    <b>Description:</b>
    <%= @pool.description %>
</p>

<p>
    <b>Photo count:</b>
    <%= @pool.photo_count %>
</p>

<p>
    <b>Public:</b>
    <%= @pool.public %>
</p>

<p>
    <b>Add photos:</b>
    <%= link_to 'Photos', pool_photos_path(@pool) %>

</p><br />



<%= link_to 'Edit', edit_pool_path(@pool) %> |
<%= link_to 'Back', pools_path %>

